USE [master]
GO
/****** Object:  Database [BusBookingSystem]    Script Date: 4/29/2019 10:32:46 PM ******/
CREATE DATABASE [BusBookingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusBookingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCAL\MSSQL\DATA\BusBookingSystem.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BusBookingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCAL\MSSQL\DATA\BusBookingSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusBookingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusBookingSystem]
GO
/****** Object:  Table [dbo].[OfferDetails]    Script Date: 4/29/2019 10:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OfferDetails](
	[OfferId] [int] IDENTITY(1,1) NOT NULL,
	[OfferCode] [varchar](50) NOT NULL,
	[DiscountPercentage] [int] NOT NULL,
	[MinAmount] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
 CONSTRAINT [PK_OfferDetails] PRIMARY KEY CLUSTERED 
(
	[OfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OffersUsed]    Script Date: 4/29/2019 10:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffersUsed](
	[OfferId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_OffersUsed] PRIMARY KEY CLUSTERED 
(
	[OfferId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProviderDetails]    Script Date: 4/29/2019 10:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProviderDetails](
	[ProviderId] [int] IDENTITY(1,1) NOT NULL,
	[OrganisationName] [varchar](50) NOT NULL,
	[Contact] [bigint] NOT NULL,
 CONSTRAINT [PK_ProviderDetails] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 4/29/2019 10:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[MobileNumber] [char](10) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTickets]    Script Date: 4/29/2019 10:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserTickets] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[OffersUsed]  WITH CHECK ADD  CONSTRAINT [FK_OffersUsed_OfferDetails] FOREIGN KEY([OfferId])
REFERENCES [dbo].[OfferDetails] ([OfferId])
GO
ALTER TABLE [dbo].[OffersUsed] CHECK CONSTRAINT [FK_OffersUsed_OfferDetails]
GO
ALTER TABLE [dbo].[OffersUsed]  WITH CHECK ADD  CONSTRAINT [FK_OffersUsed_UserDetails] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[OffersUsed] CHECK CONSTRAINT [FK_OffersUsed_UserDetails]
GO
ALTER TABLE [dbo].[UserTickets]  WITH CHECK ADD  CONSTRAINT [FK_UserTickets_UserDetails] FOREIGN KEY([TicketId])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[UserTickets] CHECK CONSTRAINT [FK_UserTickets_UserDetails]
GO
USE [master]
GO
