USE [master]
GO
/****** Object:  Database [ProvidersWS_DB]    Script Date: 4/29/2019 10:42:42 PM ******/
CREATE DATABASE [ProvidersWS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProvidersWS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCAL\MSSQL\DATA\ProvidersWS_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProvidersWS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCAL\MSSQL\DATA\ProvidersWS_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProvidersWS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProvidersWS_DB]
GO
/****** Object:  StoredProcedure [dbo].[AddRouteDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddRouteDetails](@busId int, @sourceId int, @destinationId int, @dateOfJourney date,@price float,@arrivalTime time,@departureTime time)
as
begin
	insert into RouteDetails values(@busId,@sourceId,@destinationId,@dateOfJourney,@price,@arrivalTime,@departureTime)
end
GO
/****** Object:  StoredProcedure [dbo].[BookSeat]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BookSeat](@seatNo int, @busId int ,@status varchar(40))
as
begin
update S set S.[Status]= @status  from SeatBookingStatus S
join BusDetails B on S.BusId =B.BusId where S.SeatNo=@seatNo and B.BusId=@busId
end
GO
/****** Object:  StoredProcedure [dbo].[ChangeSeatType]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChangeSeatType](@seatNo int, @busId int ,@seatType varchar(40))
as
begin
update S set S.SeatType= @seatType  from SeatBookingStatus S
join BusDetails B on S.BusId =B.BusId where S.SeatNo=@seatNo and B.BusId=@busId
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteBusRecord]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteBusRecord]( @busId int)
as
begin
	
	delete from SeatBookingStatus where busId=@busId
	delete from BusDetails where busId=@busId
	delete from RouteDetails where BusId=@busId
	delete from FeedbackDetails where BusId=@busId
 
end
GO
/****** Object:  StoredProcedure [dbo].[GetBookingStatus]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetBookingStatus](@busId int)
as
begin
	select * from SeatBookingStatus where BusId=@busId
end
GO
/****** Object:  StoredProcedure [dbo].[GetBusDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBusDetails]
as
begin
	select * from BusDetails 
end
GO
/****** Object:  StoredProcedure [dbo].[GetCityDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetCityDetails]
as
begin
	select * from CityDetails
end
GO
/****** Object:  StoredProcedure [dbo].[GetRouteDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetRouteDetails](@sourceId int,@destinationId int,@dateOfJourney date)
as
begin
     
	select * from RouteDetails where SourceId=@sourceId and DestinationId= @destinationId and DateOfJourney=@dateOfJourney

end
GO
/****** Object:  StoredProcedure [dbo].[InsertBusDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertBusDetails](@busNo varchar(20) ,@busname varchar(40),@capacity int, @type varchar(40))
as
begin
	Declare @busId int
	insert into BusDetails Values(@busname,@capacity,@type,@busNo)
	select @busId= @@IDENTITY 
  	DECLARE @count INT = 1;
		--	Declare @busId int =(select IDENT_CURRENT('BusDetails'));
	WHILE @count <= @capacity
	BEGIN
	insert into SeatBookingStatus Values(@busId,@count,'Available','General');
	set @count = @count + 1;
	END
	
end
GO
/****** Object:  StoredProcedure [dbo].[InsertCityDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertCityDetails](@city varchar(40),@state varchar(40))
as
begin
	insert into CityDetails values(@city,@state)
end
GO
/****** Object:  Table [dbo].[BusDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BusDetails](
	[BusId] [int] IDENTITY(1,1) NOT NULL,
	[BusName] [varchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[BusNo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BusDetails] PRIMARY KEY CLUSTERED 
(
	[BusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CityDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CityDetails](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[CityState] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CityDetails] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FeedbackDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackDetails](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [int] NOT NULL,
	[TicketId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_FeedbackDetails] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PassengerDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PassengerDetails](
	[PassengerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Phone] [char](10) NOT NULL,
	[TicketId] [int] NOT NULL,
	[SeatNo] [int] NOT NULL,
 CONSTRAINT [PK_PassengerDetails] PRIMARY KEY CLUSTERED 
(
	[PassengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RouteDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteDetails](
	[RouteId] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [int] NOT NULL,
	[SourceId] [int] NOT NULL,
	[DestinationId] [int] NOT NULL,
	[DateOfJourney] [date] NOT NULL,
	[Price] [float] NOT NULL,
	[ArrivalTime] [time](7) NOT NULL,
	[DepartureTime] [time](7) NOT NULL,
 CONSTRAINT [PK_RouteDetails] PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SeatBookingStatus]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeatBookingStatus](
	[BusId] [int] NOT NULL,
	[SeatNo] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[SeatType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SeatBookingStatus] PRIMARY KEY CLUSTERED 
(
	[BusId] ASC,
	[SeatNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TicketDetails]    Script Date: 4/29/2019 10:42:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketDetails](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[TotalSelectedSeats] [int] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_TicketDetails] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FeedbackDetails]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackDetails_BusDetails] FOREIGN KEY([BusId])
REFERENCES [dbo].[BusDetails] ([BusId])
GO
ALTER TABLE [dbo].[FeedbackDetails] CHECK CONSTRAINT [FK_FeedbackDetails_BusDetails]
GO
ALTER TABLE [dbo].[FeedbackDetails]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackDetails_TicketDetails] FOREIGN KEY([TicketId])
REFERENCES [dbo].[TicketDetails] ([TicketId])
GO
ALTER TABLE [dbo].[FeedbackDetails] CHECK CONSTRAINT [FK_FeedbackDetails_TicketDetails]
GO
ALTER TABLE [dbo].[PassengerDetails]  WITH CHECK ADD  CONSTRAINT [FK_PassengerDetails_TicketDetails] FOREIGN KEY([TicketId])
REFERENCES [dbo].[TicketDetails] ([TicketId])
GO
ALTER TABLE [dbo].[PassengerDetails] CHECK CONSTRAINT [FK_PassengerDetails_TicketDetails]
GO
ALTER TABLE [dbo].[RouteDetails]  WITH CHECK ADD  CONSTRAINT [FK_RouteDetails_BusDetails] FOREIGN KEY([BusId])
REFERENCES [dbo].[BusDetails] ([BusId])
GO
ALTER TABLE [dbo].[RouteDetails] CHECK CONSTRAINT [FK_RouteDetails_BusDetails]
GO
ALTER TABLE [dbo].[RouteDetails]  WITH CHECK ADD  CONSTRAINT [FK_RouteDetails_CityDetails] FOREIGN KEY([SourceId])
REFERENCES [dbo].[CityDetails] ([CityId])
GO
ALTER TABLE [dbo].[RouteDetails] CHECK CONSTRAINT [FK_RouteDetails_CityDetails]
GO
ALTER TABLE [dbo].[RouteDetails]  WITH CHECK ADD  CONSTRAINT [FK_RouteDetails_CityDetails1] FOREIGN KEY([DestinationId])
REFERENCES [dbo].[CityDetails] ([CityId])
GO
ALTER TABLE [dbo].[RouteDetails] CHECK CONSTRAINT [FK_RouteDetails_CityDetails1]
GO
ALTER TABLE [dbo].[SeatBookingStatus]  WITH CHECK ADD  CONSTRAINT [FK_SeatBookingStatus_BusDetails] FOREIGN KEY([BusId])
REFERENCES [dbo].[BusDetails] ([BusId])
GO
ALTER TABLE [dbo].[SeatBookingStatus] CHECK CONSTRAINT [FK_SeatBookingStatus_BusDetails]
GO
ALTER TABLE [dbo].[TicketDetails]  WITH CHECK ADD  CONSTRAINT [FK_TicketDetails_RouteDetails] FOREIGN KEY([RouteId])
REFERENCES [dbo].[RouteDetails] ([RouteId])
GO
ALTER TABLE [dbo].[TicketDetails] CHECK CONSTRAINT [FK_TicketDetails_RouteDetails]
GO
USE [master]
GO
